<!DOCTYPE html>
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<!-- Dropzonejs -->
<link href="../static/dropzone/dist/min/basic.min.css" type="text/css" rel="stylesheet" />
<link href="../static/dropzone/dist/min/dropzone.min.css" type="text/css" rel="stylesheet" />
<script src="../static/dropzone/dist/min/dropzone.min.js"></script>>

<style type="text/css">
a {
    padding: 0.2em;
}
a:hover {
    background-color: #02AAEE;
}
#output {
    display: block;
    margin-top: 80px;
    padding: 1%;
    border: 1px solid #666;
    background-color: #efefef;

}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
// handles the click event, sends the query
function getOutputPHP() {
   $.ajax({
      url:'myAjax.php',
      type: "GET",
      success: function (response) {
          $('#output').html(response);
      },
      error: function () {
          $('#output').html('Bummer: there was an error!');
      }
  });
  return false;
}
</script>

<script type="text/javascript">
var SendInfo= {hello_world : 'text'};
// handles the click event, sends the query
function getOutputPython() {
   $.ajax({
      url:'/echo',
      type: "GET",
      data: JSON.stringify(SendInfo),
      dataType: 'json',
      success: function (response) {
          $('#output').html(response);
      },
      error: function (response) {
          $('#output').html('Bummer: there was an error!');
          var response = xhr.responseText;
          var statusMessage = xhr.status + ' ' + xhr.statusText;
          var message  = 'Query failed, Python script returned this status: ';
          var message = message + statusMessage + ' response: ' + response;
          alert(message);
      }
  });
  return false;
}
</script>

</head>

<body>

<h1>Calling PHP and Python from Javascript</h1>

<form action="upload" class="dropzone", enctype= multipart/form-data></form>

<a href="#" onclick="return getOutputPHP();"> Test PHP </a>
<a href="#" onclick="return getOutputPython();"> Test Python </a>

<div id="output">waiting for action</div>

</body>
</html>
