<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />

<title>HDIM App</title>

<!-- Dropzonejs -->
<link href="../static/dropzone/dist/min/basic.min.css" type="text/css" rel="stylesheet" />
<link href="../static/dropzone/dist/min/dropzone.min.css" type="text/css" rel="stylesheet" />
<script src="../static/dropzone/dist/min/dropzone.min.js"></script>

<!-- D3 -->
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<!-- Left Menu Layout -->
<link rel="stylesheet" type="text/css" href="../static/screen/screen.css" media="screen" />

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Accordions -->
<link rel="stylesheet" type="text/css" href="../static/accordion/accordion.css">

<!-- Color Select -->
<link rel="stylesheet" type="text/css" href="../static/rainbow_bar/rainbow_bar.css">


<!-- Material Design Lite -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-amber.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<!-- Bar Chart -->
<link rel="stylesheet" type="text/css" href="../static/barchart/barchart.css">

<style>
#left_hand {width: 200px;
            float: left;
            }

#main_content {margin: 0 0 0 200px; /* adjust for a gutter between divs */ }
</style>

</head>

<body>

<div class="colmask leftmenu">
	<div class="colleft">
		<div class="col1">
			<!-- Column 1 start -->

			<!-- Column 1 end -->
		</div>
		<div class="col2">
			<!-- Column 2 start -->
      <div id="left hand">
        <button class="accordion">File Upload</button>
          <div class="panel">
            <form action="regression" class="dropzone" id="data-submission", enctype= multipart/form-data></form>
          </div>

      <button class="accordion">Regression Methods</button>
        <div class="panel">

          <div>
            <label class="mdl-radio mdl-js-radio" for="lasso_av">
               <input type="radio" id="lasso_av" name="regression" class="mdl-radio__button" checked>
               <span class="mdl-radio__label">LassoAV</span>
               <div id="lassoav_tt" class="icon material-icons">ic_help</div>
               <div class="mdl-tooltip" data-mdl-for="lassoav_tt">
                 Adaptive validation for the LASSO via glmnet.
               </div>
            </label>
          </div>

          <div>
            <label class="mdl-radio mdl-js-radio" for="lasso_cv">
               <input type="radio" id="lasso_cv" name="regression" class="mdl-radio__button" checked>
               <span class="mdl-radio__label">LassoCV</span>
               <div id="lassocv_tt" class="icon material-icons">ic_help</div>
               <div class="mdl-tooltip" data-mdl-for="lassocv_tt">
                 Cross validation for the LASSO using cv.glmnet.
               </div>
            </label>
          </div>

          <div>
            <label class="mdl-radio mdl-js-radio" for="fos">
               <input type="radio" id="fos" name="regression" class="mdl-radio__button" checked>
               <span class="mdl-radio__label">FOS</span>
               <div id="fos_tt" class="icon material-icons">ic_help</div>
               <div class="mdl-tooltip" data-mdl-for="fos_tt">
                 Fast and Optimial Support algorithm for the LASSO.
               </div>
            </label>
          </div>

        </div>

        <button class="accordion">Summary</button>
          <div class="panel">
            Summary Input
            <div id="tt1" class="icon material-icons">ic_help</div>
            <div class="mdl-tooltip" data-mdl-for="tt1">
              Description of Summary Report Parameter.
            </div>
          </div>

          <button class="accordion">Bar Chart Settings</button>
            <div class="panel">
              <div>
                <label class="mdl-checkbox mdl-js-checkbox" for="show_intercept">
                   <input type="checkbox" id="show_intercept" class="mdl-checkbox__input" checked>
                   <span class="mdl-checkbox__label">Show Intercept</span>
                   <div id="show_int_tt" class="icon material-icons">ic_help</div>
                   <div class="mdl-tooltip" data-mdl-for="show_int_tt">
                     Show or hide the intercept term on the bar chart.
                   </div>
                </label>
              </div>
                Positive Value Color
                <div id="pos_val_tt" class="icon material-icons">ic_help</div>
                 <div class="mdl-tooltip" data-mdl-for="pos_val_tt">
                   Color of positive values on bar chart.
                 </div>
              <div>
                <ul class = "tile_ul">
                  <button type="button" onclick="setPosColor('\#983275')" class = "rainbow_bar tile_ul_ss_li_purple">
                  </button>
                  <button type="button" onclick="setPosColor('\#811d5e')" class = "rainbow_bar tile_ul_ss_purple">
                  </button>
                  <button type="button" onclick="setPosColor('\#fd2f24')" class = "rainbow_bar tile_ul_ss_dk_orange">
                  </button>
                  <button type="button" onclick="setPosColor('\#ff6f01')" class = "rainbow_bar tile_ul_ss_orange">
                  </button>
                  <button type="button" onclick="setPosColor('\#fed800')" class = "rainbow_bar tile_ul_ss_yellow">
                  </button>
                </ul>
              </div>
              <div>
                <ul class = "tile_ul">
                  <button type="button" onclick="setNegColor('\#983275')" class = "rainbow_bar tile_ul_ss_li_purple">
                  </button>
                  <button type="button" onclick="setNegColor('\#811d5e')" class = "rainbow_bar tile_ul_ss_purple">
                  </button>
                  <button type="button" onclick="setNegColor('\#fd2f24')" class = "rainbow_bar tile_ul_ss_dk_orange">
                  </button>
                  <button type="button" onclick="setNegColor('\#ff6f01')" class = "rainbow_bar tile_ul_ss_orange">
                  </button>
                  <button type="button" onclick="setNegColor('\#fed800')" class = "rainbow_bar tile_ul_ss_yellow">
                  </button>
                </ul>
              </div>
            </div>

            <button class="accordion">Download Results</button>
              <div class="panel">

                <div class = "mdl-button-group">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                  Download Graph
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                  Download Data
                </button>
                </div>

              </div>

            <button class="accordion">PDF Report Request</button>
              <div class="panel">

                <form action="#">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="name_form">
                    <label class="mdl-textfield__label" for="name_form">Name...</label>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="email_form">
                    <label class="mdl-textfield__label" for="email_form">E-Mail...</label>
                  </div>
                  <div class = "mdl-button-group">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Send E-Mail Report
                  </button>
                  </div>
                </form>

              </div>

      </div>
			<!-- Column 2 end -->
		</div>
	</div>
</div>
<div id="footer">
  <footer class="mdl-mini-footer">
    <ul class="mdl-mini-footer__link-list">
       <li><a href="">Powered by the HDIM Package, available on GitHub.</a></li>
    </ul>
  </footer>
</div>

<!-- Process accordion events -->
<script src="../static/accordion/accordion.js"></script>

<!-- Rendee barchart and add to particular div-->
<script src="../static/barchart/barchart.js"></script>

<script>

var populated = false;

Dropzone.options.dataSubmission = {

  maxFilesize: 30, // Size in MB
  maxFiles: 1,

  acceptedFiles:".csv, .xlsx",

  // If more than one file is added, remove old file and replace with new
  maxfilesexceeded: function(file) {
    this.removeAllFiles();
    this.addFile(file);
  },

  success: function(file, response) {

    populated ? updateChart( response ) : buildChart( response );
    populated = true;
    // alert( JSON.stringify(response) );
  }
};

</script>

</body>
</html>
