<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

<title>App | Lederer and Hauser HDIM Group</title>

<!-- Dropzonejs -->
<link href="../static/dropzone/basic.min.css" type="text/css" rel="stylesheet" />
<link href="../static/dropzone/dropzone.min.css" type="text/css" rel="stylesheet" />
<script src="../static/dropzone/dropzone.min.js"></script>

<!-- D3 -->
<script src="//d3js.org/d3.v3.min.js"></script>

<!-- D3 ToolTips -->
<script src="../static/d3_tip/d3.tip.v0.6.3.js"></script>

<!-- PapaParse -->
<script src="../static/PapaParse-4.3.2/papaparse.min.js"></script>

<!-- XLSX Parser -->
<script lang="javascript" src="../static/js-xlsx/dist/xlsx.full.min.js"></script>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Color Select -->
<link rel="stylesheet" type="text/css" href="../static/rainbow_bar/rainbow_bar.css">

<!-- Material Design Lite -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-amber.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<!-- Bar Chart -->
<link rel="stylesheet" type="text/css" href="../static/barchart/barchart.css">
<script src="../static/barchart/barchart.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<!-- Accordion Styling -->
<link rel="stylesheet" href="../static/accordion/bs-accordion.css">


</head>

<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <!--Sidebar content-->
        <div id="accordion" class="accordion">
            <div class="card m-b-0">

                <div class="card-header uw collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <a class="card-title" data-toggle="tooltip" title="Upload a data set in either .csv or .xlsx format.">
                        File Upload
                    </a>
                </div>

                <div id="collapseOne" class="card-block collapse">

                  <div class="col-md-3">
                    <div class="row">
                      <form action="regression" class="dropzone" id="data-submission", enctype="multipart/form-data"></form>
                      <div class = "mdl-button-group">
                        <button id="recompute-results" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                          Compute
                        </button>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="card-header uw collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <a class="card-title" data-toggle="tooltip" title="Choose the regression method used to compute coefficients.">
                        Regression Methods
                    </a>
                </div>
                <div id="collapseTwo" class="card-block collapse">
                  <row>

                    <!-- Regression method column -->

                    <div class="container">

                      <div class="col-md-4">

                        <div class="row">
                          <label class="mdl-radio mdl-js-radio" for="lasso_av_button">
                            <input type="radio" id="lasso_av_button" name="regression" class="mdl-radio__button">
                            <span class="mdl-radio__label" data-toggle="tooltip" data-placement="right" title="Adaptive validation for the LASSO via glmnet.">LassoAV</span>
                         </label>
                       </div>

                       <div class="row">
                         <label class="mdl-radio mdl-js-radio" for="lasso_cv_button">
                            <input type="radio" id="lasso_cv_button" name="regression" class="mdl-radio__button">
                            <span class="mdl-radio__label" data-toggle="tooltip" data-placement="right" title="Cross validation for the LASSO via cvglmnet.">LassoCV</span>
                         </label>
                       </div>

                      <div class="row">
                         <label class="mdl-radio mdl-js-radio" for="fos_button">
                            <input type="radio" id="fos_button" name="regression" class="mdl-radio__button" checked>
                            <span class="mdl-radio__label" data-placement="right" title="Fast and Optimial Support algorithm for the LASSO.">FOS</span>
                         </label>
                       </div>

                     </div>

                   </div>

                 </row>
                </div>

                <div class="card-header uw collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <a class="card-title">
                        Data Summary
                    </a>
                </div>
                <div id="collapseThree" class="card-block collapse">
                  Contents
                </div>

                <div class="card-header uw collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    <a class="card-title" data-toggle="tooltip" title="Control which variable is used as the predictor and change appearance of bar chart.">
                        Bar Chart Settings
                    </a>
                </div>
                <div id="collapseFour" class="card-block collapse">

                  <div class="container">

                    <div class="row">

                      <label class="mdl-checkbox mdl-js-checkbox" for="show_intercept">
                         <input type="checkbox" id="show_intercept" class="mdl-checkbox__input" checked>
                         <span class="mdl-checkbox__label" data-toggle="tooltip" title="Show or hide the intercept term on the bar chart.">Show Intercept</span>
                      </label>

                    </div>

                    <div class="row">
                      <p data-toggle="tooltip" title="Color the positives values displayed on the bar chart.">Positive Values Color</p>

                        <ul class = "tile_ul">
                          <button type="button" onclick="barChart.setPosColor('\#983275')" class = "rainbow_bar tile_ul_ss_li_purple">
                          </button>
                          <button type="button" onclick="barChart.setPosColor('\#811d5e')" class = "rainbow_bar tile_ul_ss_purple">
                          </button>
                          <button type="button" onclick="barChart.setPosColor('\#fd2f24')" class = "rainbow_bar tile_ul_ss_dk_orange">
                          </button>
                          <button type="button" onclick="barChart.setPosColor('\#ff6f01')" class = "rainbow_bar tile_ul_ss_orange">
                          </button>
                          <button type="button" onclick="barChart.setPosColor('\#fed800')" class = "rainbow_bar tile_ul_ss_yellow">
                          </button>
                        </ul>
                      </div>

                      <div class="row">

                        <p data-toggle="tooltip" title="Color the negative values displayed on the bar chart.">Negative Values Color</p>
                        <ul class = "tile_ul">
                          <button type="button" onclick="barChart.setNegColor('\#983275')" class = "rainbow_bar tile_ul_ss_li_purple">
                          </button>
                          <button type="button" onclick="barChart.setNegColor('\#811d5e')" class = "rainbow_bar tile_ul_ss_purple">
                          </button>
                          <button type="button" onclick="barChart.setNegColor('\#fd2f24')" class = "rainbow_bar tile_ul_ss_dk_orange">
                          </button>
                          <button type="button" onclick="barChart.setNegColor('\#ff6f01')" class = "rainbow_bar tile_ul_ss_orange">
                          </button>
                          <button type="button" onclick="barChart.setNegColor('\#fed800')" class = "rainbow_bar tile_ul_ss_yellow">
                          </button>
                        </ul>

                      </div>

                      <div class="row">

                        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                          <select class="select" id="response_var" name="response">
                            <option value=""></option>
                          </select>
                          <label class="mdl-selectfield__label" for="response_var" data-toggle="tooltip" title="Name of the column corresponding to the predictors.">Response Variable</label>
                        </div>

                      </div>

                    </div>

                </div>

                <div class="card-header uw collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    <a class="card-title">
                        Download Results
                    </a>
                </div>
                <div id="collapseFive" class="card-block collapse">

                  <div class="container">
                    <div class="row">
                      <div class = "mdl-button-group">
                      <button onclick="barChart.dumpImage()"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        data-toggle="tooltip"
                        title="Download the displayed chart as a .png image.">
                        Download Graph
                      </button>
                      <button onclick="barChart.dumpData()"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        data-toggle="tooltip"
                        title="Download the data used to generated the currently displayed barchart as a .csv file.">
                        Download Data
                      </button>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="card-header uw collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                    <a class="card-title">
                        PDF Report
                    </a>
                </div>
                <div id="collapseSix" class="card-block collapse">

                  <div class="container">
                    <form action="#">
                      <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="name_form">
                        <label class="mdl-textfield__label" for="name_form">Name...</label>
                      </div>
                      <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="email_form">
                        <label class="mdl-textfield__label" for="email_form">E-Mail...</label>
                      </div>
                      <div class = "mdl-button-group">
                      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Send E-Mail Report
                      </button>
                      </div>
                    </form>
                  </div>

                </div>

            </div>
        </div>

</div>
      <!-- Column 2 end -->
    <div class="col-md-8">
      <!--Body content-->
    </div>

  </div>
</div>

<div id="footer">
  <footer class="mdl-mini-footer">
    <ul class="mdl-mini-footer__link-list">
       <li><a href="https://github.com/LedererLab/FOS">Powered by the HDIM Package, available on GitHub.</a></li>
    </ul>
  </footer>
</div>

<!-- Initialize Bootstrap tooltips -->
<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>

<script>
  function populateColumnNames( col_name_array, drop_down ) {
    var db_select = document.getElementById( drop_down );

    for (var i = 0; i < col_name_array.length; i++) {
      var option = document.createElement("option");
      option.text = col_name_array[i];
      db_select.add(option);
    }
  }

  function removeOptions( drop_down ) {

    var db_select = document.getElementById( drop_down );
     var i;
     for(i = db_select.options.length - 1 ; i >= 0 ; i--) {
         db_select.remove(i);
     }
   }

  function selectFirstOption( drop_down ) {

    var db_select = document.getElementById( drop_down );
    db_select.selectedIndex = 0;

  }

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>

<script>
function get_header_row(sheet) {
    var headers = [];
    var range = XLSX.utils.decode_range(sheet['!ref']);
    var C, R = range.s.r; /* start in the first row */
    /* walk every column in the range */
    for(C = range.s.c; C <= range.e.c; ++C) {
        var cell = sheet[XLSX.utils.encode_cell({c:C, r:R})] /* find the cell in the first row */

        var hdr = "UNKNOWN " + C; // <-- replace with your desired default
        if(cell && cell.t) hdr = XLSX.utils.format_cell(cell);

        headers.push(hdr);
    }
    return headers;
}

function parseExcel (file) {

    var reader = new FileReader();

    reader.onload = function(e) {
      var data = e.target.result;
      var workbook = XLSX.read(data, {
        type: 'binary'
      });

      // workbook.SheetNames.forEach(function(sheetName) {
      //   var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
      //   var json_object = JSON.stringify(XL_row_object);
      //   console.log(json_object);
      // })

      var i;
      for (i = 0; i < workbook.SheetNames.length; i++) {
        var header = get_header_row(workbook.Sheets[ workbook.SheetNames[i] ]);
        console.log( header );
      }

    };

    reader.onerror = function(ex) {
      console.log(ex);
    };

    reader.readAsBinaryString(file);

    return reader;
  };
</script>

<script>
var barChart = new BarChart( "col-md-8" );

Dropzone.options.dataSubmission = {

  maxFilesize: 30, // Size in MB
  maxFiles: 1,
  autoProcessQueue: false, // Prevent files fome being submitted automatically

  acceptedFiles:".csv, .xlsx",

  init: function() {
    var submitButton = document.querySelector("#recompute-results")
        dataSubmission = this; // closure

    submitButton.addEventListener("click", function() {
      dataSubmission.processQueue(); // Manually process queued files
    });

  },

  // If more than one file is added, remove old file and replace with new
  maxfilesexceeded: function( file ) {
    this.removeAllFiles();
    this.addFile(file);
  },

  addedfile: function( file ) {

    switch(file.type) {
      case 'application/vnd.ms-excel':
      case 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':
        console.log( parseExcel( file ) );
      break;
      case 'text/csv':
        Papa.parse(file, {
          header: true,
          dynamicTyping: true,
          complete: function(results) {
            var data_names = Object.keys(results.data[0]);
            removeOptions( "response_var" );
            populateColumnNames( data_names, "response_var" );
            selectFirstOption( "response_var" );
          }
        });
        break;
      default:
        alert('Please enter correct file format.');
      break;
    }

    // Default functionality provided by DropZone
    var j, k, l, len, len1, len2, node, ref, ref1, ref2, removeFileEvent, removeLink, results;
    if (this.element === this.previewsContainer) {
      this.element.classList.add("dz-started");
    }
    if (this.previewsContainer) {
      file.previewElement = Dropzone.createElement(this.options.previewTemplate.trim());
      file.previewTemplate = file.previewElement;
      this.previewsContainer.appendChild(file.previewElement);
      ref = file.previewElement.querySelectorAll("[data-dz-name]");
      for (j = 0, len = ref.length; j < len; j++) {
        node = ref[j];
        node.textContent = file.name;
      }
      ref1 = file.previewElement.querySelectorAll("[data-dz-size]");
      for (k = 0, len1 = ref1.length; k < len1; k++) {
        node = ref1[k];
        node.innerHTML = this.filesize(file.size);
      }
      if (this.options.addRemoveLinks) {
        file._removeLink = Dropzone.createElement("<a class=\"dz-remove\" href=\"javascript:undefined;\" data-dz-remove>" + this.options.dictRemoveFile + "</a>");
        file.previewElement.appendChild(file._removeLink);
      }
      removeFileEvent = (function(_this) {
        return function(e) {
          e.preventDefault();
          e.stopPropagation();
          if (file.status === Dropzone.UPLOADING) {
            return Dropzone.confirm(_this.options.dictCancelUploadConfirmation, function() {
              return _this.removeFile(file);
            });
          } else {
            if (_this.options.dictRemoveFileConfirmation) {
              return Dropzone.confirm(_this.options.dictRemoveFileConfirmation, function() {
                return _this.removeFile(file);
              });
            } else {
              return _this.removeFile(file);
            }
          }
        };
      })(this);
      ref2 = file.previewElement.querySelectorAll("[data-dz-remove]");
      results = [];
      for (l = 0, len2 = ref2.length; l < len2; l++) {
        removeLink = ref2[l];
        results.push(removeLink.addEventListener("click", removeFileEvent));
      }
      return results;
    }

  },

  sending: function( file, xhr, data ) {

    if( document.getElementById("lasso_av_button").checked ) {
      data.append("regression_type","av");
    } else if ( document.getElementById("lasso_cv_button").checked ) {
      data.append("regression_type","cv");
    } else if ( document.getElementById("fos_button").checked ) {
      data.append("regression_type","fos");
    } else {
      alert( "Please select a valid regression method!" );
    }

    switch(file.type) {
      case 'application/vnd.ms-excel':
      case 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':
        data.append("data_type","xlsx");
      break;
      case 'text/csv':
        data.append("data_type","csv");
        break;
      default:
        alert('Please enter correct file format.');
      break;
    }

    var regression_var_index = $("select[name='response'] option:selected").index();
    data.append( "regression_index", regression_var_index );

  },

  success: function( file, response ) {
    barChart.updateChart( response );
    file.status = Dropzone.QUEUED; // Re-que file so that it can be resubmitted
  }
};
</script>

</body>
</html>
