.graph-svg-component {
    background-color: white;
}

.axis text {
  font: 10px Roboto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.grid.tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 2;
}

.bar {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.bar:hover {
  stroke: black;
  stroke-width: 2.5px;
  opacity: 0.9;
  filter: drop-shadow(10px 10px 10px black);
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.center-block {
    text-align:center;
    background-color:blue;
    height:400px;
    width:600px;
}
.center-block.block {
    height:100px;
    width:200px;
    text-align:left;
}
.center-block.center {
    margin:auto;
    background-color:green;
}
.center-block.left {
    margin:auto auto auto 0;
    background-color:red;
}
.center-block.right {
    margin:auto 0 auto auto;
    background-color:yellow;
}
